<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Hotel Dashboard Template</title>
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="../assets/css/feathericon.min.css">
    <link rel="stylesheet" href="../assets/plugins/morris/morris.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
<div class="main-wrapper">
    <div class="header">
        <div class="header-left">
            <a href="/" class="logo"> <img src="../assets/img/hotel_logo.png" width="50" height="70"
                                                       alt="logo">
                <span class="logoclass">HOTEL</span> </a>
            <a href="../index.html" class="logo logo-small"> <img src="../assets/img/hotel_logo.png" alt="Logo"
                                                                  width="30"
                                                                  height="30"> </a>
        </div>
        <a href="javascript:void(0);" id="toggle_btn"> <i class="fe fe-text-align-left"></i> </a>
        <a class="mobile_btn" id="mobile_btn"> <i class="fas fa-bars"></i> </a>
        <ul class="nav user-menu">
            <li class="nav-item dropdown noti-dropdown">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <i class="fe fe-bell"></i> <span
                        class="badge badge-pill">3</span> </a>
                <div class="dropdown-menu notifications">
                    <div class="topnav-dropdown-header"><span class="notification-title">Notifications</span> <a
                            href="javascript:void(0)" class="clear-noti"> Clear All </a></div>
                    <div class="noti-content">
                        <ul class="notification-list">
                            <li class="notification-message">
                                <a href="#">
                                    <div class="media"> <span class="avatar avatar-sm">
											<img class="avatar-img rounded-circle" alt="User Image"
                                                 src="../assets/img/profiles/avatar-02.jpg">
											</span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title"
                                                                          th:text="${userInfo.username}"></span> has
                                                approved <span class="noti-title">your estimate</span></p>
                                            <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="#">
                                    <div class="media"> <span class="avatar avatar-sm">
											<img class="avatar-img rounded-circle" alt="User Image"
                                                 src="../assets/img/profiles/avatar-11.jpg">
											</span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">International Software
													Inc</span> has sent you a invoice in the amount of <span
                                                    class="noti-title">$218</span></p>
                                            <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="#">
                                    <div class="media"> <span class="avatar avatar-sm">
											<img class="avatar-img rounded-circle" alt="User Image"
                                                 src="../assets/img/profiles/avatar-17.jpg">
											</span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">John Hendry</span> sent a
                                                cancellation request <span class="noti-title">Apple iPhone
													XR</span></p>
                                            <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="#">
                                    <div class="media"> <span class="avatar avatar-sm">
											<img class="avatar-img rounded-circle" alt="User Image"
                                                 src="../assets/img/profiles/avatar-13.jpg">
											</span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">Mercury Software
													Inc</span> added a new product <span class="noti-title">Apple
													MacBook Pro</span></p>
                                            <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="topnav-dropdown-footer"><a href="#">View all Notifications</a></div>
                </div>
            </li>
            <li class="nav-item dropdown has-arrow">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <span class="user-img"><img
                        class="rounded-circle" src="../assets/img/profiles/avatar-01.jpg" width="31"
                        alt="Soeng Souy"></span> </a>
                <div class="dropdown-menu">
                    <div class="user-header">
                        <div class="avatar avatar-sm"><img src="../assets/img/profiles/avatar-01.jpg" alt="User Image"
                                                           class="avatar-img rounded-circle"></div>
                        <div class="user-text">
                            <h6 th:text="${userInfo.username}"></h6>
                            <p class="text-muted mb-0" th:text="${userInfo.address}"></p>
                        </div>
                    </div>
                    <a class="dropdown-item" href="/logout">Đăng xuất</a></div>
            </li>
        </ul>
    </div>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li><a href="/"><i class="fas fa-tachometer-alt"></i> <span>Trang chủ</span></a></li>
                    <li class="list-divider"></li>
                    <li class="submenu"><a href="#"><i class="fas fa-user"></i> <span> Tài khoản </span> <span
                            class="menu-arrow"></span></a>
                        <ul class="submenu_class" style="display: none;">
                            <li><a th:href="@{/GetDetailsProfile}"> Chỉnh sửa thông tin </a></li>
                            <li><a th:href="@{/ChangePassword}"> Thay đổi mật khẩu </a></li>
                        </ul>
                    </li>
                    <li class="submenu"><a href="#"><i class="fas fa-suitcase"></i> <span> Lịch đặt </span> <span
                            class="menu-arrow"></span></a>
                        <ul class="submenu_class" style="display: none;">
                            <li><a th:href="@{/listAllBookingOfCustomer}"> Tất cả lịch đặt </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header mt-5">
                <div class="row">
                    <div class="col">
                        <h3 class="page-title">Tài khoản</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="../index.html">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Thông tin tài khoản</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-header">
                        <div class="row align-items-center">
                            <div class="col-auto profile-image">
                                <a href="#"> <img class="rounded-circle" alt="User Image"
                                                  src="../assets/img/profiles/avatar-02.jpg"> </a>
                            </div>
                            <div class="col ml-md-n2 profile-user-info">
                                <h4 class="user-name mb-3" th:text="${userInfo.username}"></h4>
                            </div>
                            <div class="col-auto profile-btn"><a href="" class="btn btn-primary">
                                Thông báo
                            </a> <a href="edit-profile.html" class="btn btn-primary">
                                Chỉnh sửa
                            </a></div>
                        </div>
                    </div>
                    <div class="profile-menu">
                        <ul class="nav nav-tabs nav-tabs-solid">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#password_tab">Đổi
                                mật
                                khẩu</a></li>

                        </ul>
                    </div>
                    <div id="password_tab" class="tab-pane fade show active">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Thay đổi mật khẩu</h5>
                                <div class="row">
                                    <div class="col-md-10 col-lg-6">
                                        <form th:action="@{/saveChangePasword}" method="post"
                                              id="FormChangePassWord">
                                            <div class="form-group">
                                                <label>Mật khẩu cũ: </label>
                                                <input type="password" class="form-control" name="oldPassword"
                                                       required>
                                            </div>
                                            <div class="form-group">
                                                <label>Mật khẩu mới: </label>
                                                <input type="password" class="form-control" name="newPassword">
                                            </div>
                                            <div class="form-group">
                                                <label>Xác nhận mật khẩu mới: </label>
                                                <input type="password" class="form-control" name="newPassword2">
                                                <div id="message" style="color:red;"></div>
                                            </div>
                                            <button class="btn btn-primary" type="submit" id="buttonChangePass">Lưu
                                                mật
                                                khẩu
                                            </button>
                                            <p style="color: red;" th:text="*{statusChangePassWord}"
                                               id="statusChangePassWord"></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="../assets/js/jquery-3.5.1.min.js"></script>
<script src="../assets/js/popper.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/moment.min.js"></script>
<script src="../assets/js/select2.min.js"></script>
<script src="../assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="../assets/js/script.js"></script>
<script type="text/javascript" src="../assets/js/profile.js"></script>
<script>
    document.getElementById("buttonChangePass").addEventListener("click", function (event) {
        event.preventDefault()

        let newPass = document.getElementsByName("newPassword")[0]
        let newPass2 = document.getElementsByName("newPassword2")[0]
        if (newPass.value.length < 8) {
            console.log("NewPass: " + newPass.value)
            document.getElementById("message").innerText = "Mật khẩu chưa đủ 8 kí tự"
        } else if (newPass.value.length != newPass2.value.length) {
            console.log("NewPass: " + newPass.value)
            console.log("NewPass2: " + newPass2.value)
            document.getElementById("message").innerText = "Mật khẩu mới và xác nhận mật khẩu mới chưa trùng khớp"
        } else {
            // alert("Cập nhật mật khẩu thành công")
            console.log("Cập nhật mật khẩu thành công")
            setTimeout(function () {
                $("#FormChangePassWord").submit()
            }, 500)
        }
    });

</script>
}
;

</script>
</div>
</body>

</html>
