<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- bootstrap -->
    <!-- Online -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YOY | user-forgotpassword</title>
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
    <!-- Offline -->
    <link rel="stylesheet" href="../Utilities/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <script src="../Utilities/jQuery-1.x/jquery-1.11.3.min.js"></script>

    <script src="../Utilities/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <style>
        .modal-header, h4, .close {
            background-color: rgb(220, 30, 40);
            color: white !important;
            font-size: 30px;
        }

        .col-sm-6 li {
            margin-top: 15px;
        }

        .modal-body .form-group {
            padding-top: 10px;
        }

        /*Group input border*/
        .clear-border {
            background: transparent;
            border: 0px;
            border-radius: 0;
            border-bottom: 1px solid rgb(156, 153, 153);
            box-shadow: 0px 0px 0px;
        }

        /*END Group input border*/
        body{
            ;
        }
    </style>

</head>
<body>

<div id="header"></div>
<div class="" style="background-color: dimgray">
    <div class="modal-dialog" style="width: 50%; height: 1000px;padding-top:15% ;padding-bottom: 20%;margin:0 auto">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header"> <!-- style="padding:35px 50px;" -->
            <!--<button type="button" class="close" data-dismiss="modal" id="refreshDIV" onClick="history.go(0)">&times;</button>-->
            <!--nut button su dung chay rieng trang ko the dong'-->
            <!--http://getbootstrap.com/css/#buttons-->

            <h4>Đổi mật khẩu cho @<span th:text="${name}"></span></h4>
        </div>

        <div class="modal-body" style="padding:50px 30px 0px 30px">
            <div class="row">
                <div class="col-sm-6"
                     style="margin-left: -10px; margin-top: -20px; border-right: 2px dashed rgb(246,245,245)">
                    <form role="form" action="/resetPassword" id="changePasswordForm" method="post" >
                        <div class="form-group">
                            <input type="text" class="form-control clear-border"
                                   name="password"  placeholder="Mật khẩu" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,20}$"
                                   title="Vui lòng chú ý bảng quy tắc bên phải"
                            >

                        </div>
                        <button type="submit" class="btn btn-success btn-block" style="margin-top: 20px">cài lại mật khẩu
                        </button>

                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <input type="hidden" name="username" th:value="${username}" />
                        <div id="message"></div>
                    </form>
                </div>
                <div class="col-sm-6" style="font-size: small">
                    <p>
                        - Vui lòng nhập khẩu bạn muốn thay đổi<br>
                        - Mật khẩu phải chứa :<br>
                        + Ít nhất 1 chữ in hoa, 1 chữ viết thường,1 số, 1 kí tự đặc biệt,
                        <br>
                        + Độ dài ngắn nhất:8, dài nhất:20
                    </p>
                    <!-- dung span: noi dung ko canh deu 2 ben -->
                </div>
            </div>

            <!--dat trong class="modal-body"-->
            <div style="text-align: right; margin-top: -50px; margin-right: -30px">
                <!-- neu show len modal thi` them ten thu* muc modal-user -->
                <img src="../img/img_audio/stay-awesome.png"/>
                <!--khi mo? tren modal thi can viet day du: <img src="img/img_audio/stay-awesome.png"/>-->
            </div>

        </div>
    </div>
</div>
</div>
<div id="footer"></div>

<!--</div>-->
<script>
    // var SubmitResetpassword = function () {
    //     alert('Đổi mật khẩu thành công');
    //     window.history.back();
    // };
</script>
<script>
    // phan dung code
    $(document).ready(function () {

        $("#header").load("/header");
        $("#footer").load("/footer");
    })
    let token = $("meta[name='_csrf']").attr("content");
    let header = $("meta[name='_csrf_header']").attr("content");
    $(document).ajaxSend(function(e, xhr, options) {
        xhr.setRequestHeader(header, token);
    });
    console.log("did");

    $("#changePasswordForm").submit(function(e) {
        e.preventDefault();
        console.log("did");

        let form = $(this);
        $.ajax({

            url : '/resetPassword',
            type : 'post',
            data : form.serialize(),

            success : function(data) {
                if(data==='success'){

                    alert('đã thay đổi mật khẩu');
                    window.location.href = "/";
                }else{
                    let message = document.getElementById("message");
                    message.innerHTML = "Không tìm thấy tài khoản";
                }
            },
            error : function(request,error)
            {
                alert("Request: "+JSON.stringify(request));
            }
        });
        return false;
    })
    //phan dung code-end
</script>

</body>
</html>
