<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Hotel Dashboard Template</title>

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">

    <link rel="stylesheet" href="assets/css/feathericon.min.css">

    <link rel="stylesheet" href="assets/plugins/datatables/datatables.min.css">
    <link rel="stylesheet" href="assets/plugins/morris/morris.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-datetimepicker.min.css">

    <link rel="stylesheet" href="assets/css/style.css">

    <style>
        .validation-advice {
            position: absolute;
            background: black;
            /*bottom: 0px; nam` duoi' day' trinh duyet*/
            color: white;
            font-size: 11px;
            font-weight: bold;
            line-height: 13px;
            min-height: 13px;
            padding: 10px;
            /*right: -150px;*/
            /*margin-left: 30px;*/
            margin-top: -47px;
            /*width: 120px; cho auto theo text*/
            border-radius: 5px;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }

        .validation-advice:after {
            position: absolute;
            left: 5px;
            /*right: 20px;*/
            /*bottom: 20px;*/
            top: 33px;
            content: " ";
            width: 0;
            height: 0;

            border-top: 8px solid black;
            /*border-bottom: 8px solid transparent;*/
            border-bottom: 8px solid transparent;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
        }
    </style>
</head>
<body>
<div class="main-wrapper">
    <div class="header">
        <div class="header-left">
            <a href="/" class="logo"> <img src="../assets/img/hotel_logo.png" width="50" height="70"
                                                       alt="logo">
                <span class="logoclass">HOTEL</span> </a>
            <a href="/" class="logo logo-small"> <img src="../assets/img/hotel_logo.png" alt="Logo"
                                                                  width="30"
                                                                  height="30"> </a>
        </div>
        <a href="javascript:void(0);" id="toggle_btn"> <i class="fe fe-text-align-left"></i> </a>
        <a class="mobile_btn" id="mobile_btn"> <i class="fas fa-bars"></i> </a>
        <ul class="nav user-menu">
            <li class="nav-item dropdown noti-dropdown">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <i class="fe fe-bell"></i> <span
                        class="badge badge-pill">3</span> </a>
                <div class="dropdown-menu notifications">
                    <div class="topnav-dropdown-header"><span class="notification-title">Notifications</span> <a
                            href="javascript:void(0)" class="clear-noti"> Clear All </a></div>
                    <div class="noti-content">
                        <ul class="notification-list">
                            <li class="notification-message">
                                <a href="#">
                                    <div class="media"> <span class="avatar avatar-sm">
											<img class="avatar-img rounded-circle" alt="User Image"
                                                 src="../assets/img/profiles/avatar-02.jpg">
											</span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title"
                                                                          th:text="${userInfo.username}"></span> has
                                                approved <span class="noti-title">your estimate</span></p>
                                            <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="#">
                                    <div class="media"> <span class="avatar avatar-sm">
											<img class="avatar-img rounded-circle" alt="User Image"
                                                 src="../assets/img/profiles/avatar-11.jpg">
											</span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">International Software
													Inc</span> has sent you a invoice in the amount of <span
                                                    class="noti-title">$218</span></p>
                                            <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="#">
                                    <div class="media"> <span class="avatar avatar-sm">
											<img class="avatar-img rounded-circle" alt="User Image"
                                                 src="../assets/img/profiles/avatar-17.jpg">
											</span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">John Hendry</span> sent a
                                                cancellation request <span class="noti-title">Apple iPhone
													XR</span></p>
                                            <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="#">
                                    <div class="media"> <span class="avatar avatar-sm">
											<img class="avatar-img rounded-circle" alt="User Image"
                                                 src="../assets/img/profiles/avatar-13.jpg">
											</span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">Mercury Software
													Inc</span> added a new product <span class="noti-title">Apple
													MacBook Pro</span></p>
                                            <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="topnav-dropdown-footer"><a href="#">View all Notifications</a></div>
                </div>
            </li>
            <li class="nav-item dropdown has-arrow">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <span class="user-img"><img
                        class="rounded-circle" src="../assets/img/profiles/avatar-01.jpg" width="31"
                        alt="Soeng Souy"></span> </a>
                <div class="dropdown-menu">
                    <div class="user-header">
                        <div class="avatar avatar-sm"><img src="../assets/img/profiles/avatar-01.jpg" alt="User Image"
                                                           class="avatar-img rounded-circle"></div>
                        <div class="user-text">
                            <h6 th:text="${userInfo.username}"></h6>
                        </div>
                    </div>
                    <a class="dropdown-item" href="/logout">Đăng xuất</a></div>
            </li>
        </ul>
    </div>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li><a href="/"><i class="fas fa-tachometer-alt"></i> <span>Trang chủ</span></a></li>
                    <li class="list-divider"></li>
                    <li class="submenu"><a href="#"><i class="fas fa-user"></i> <span> Tài khoản </span> <span
                            class="menu-arrow"></span></a>
                        <ul class="submenu_class" style="display: none;">
                            <li><a th:href="@{/GetDetailsProfile}"> Chỉnh sửa thông tin </a></li>
                            <li><a th:href="@{/ChangePassword}"> Thay đổi mật khẩu </a></li>
                        </ul>
                    </li>
                    <li class="submenu"><a href="#"><i class="fas fa-suitcase"></i> <span> Lịch đặt </span> <span
                            class="menu-arrow"></span></a>
                        <ul class="submenu_class" style="display: none;">
                            <li><a th:href="@{/listAllBookingOfCustomer}"> Tất cả lịch đặt </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="mt-5">
                            <h4 class="card-title float-left mt-2">Danh sách lịch đặt</h4>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <form th:action="@{/listAllBookingOfCustomer}">
                        <div class="row formtype">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Ngày nhận phòng</label>
                                    <div class="cal-icon">
                                        <div id="tooltip1" class="validation-advice" style="display: none">Ngày nhận
                                            phòng ko hợp lệ
                                            !
                                        </div>
                                        <input name="start_date" id="date1" type="text" th:value="${start_date}"
                                               class="form-control datetimepicker">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Ngày trả phòng</label>
                                    <div class="cal-icon">
                                        <div id="tooltip2" class="validation-advice" style="display: none">Ngày trả
                                            phòng ko hợp lệ
                                            !
                                        </div>
                                        <input name="end_date" id="date2" th:value="${end_date}" type="text"
                                               class="form-control datetimepicker">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tìm kiếm</label>
                                    <button type="submit" class="btn btn-success btn-block mt-0 search_button"> Tìm
                                        kiếm
                                    </button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-table">
                        <div class="card-body booking_card">
                            <div class="table-responsive">
                                <table class="datatable table table-stripped table-hover table-center mb-0">
                                    <thead>
                                    <tr>
                                        <th>Kiểu phòng</th>
                                        <th>Tên khách sạn</th>
                                        <th>Số khách</th>
                                        <th>Ngày nhận phòng</th>
                                        <th>Ngày trả phòng</th>
                                        <th>Số đêm ở khách sạn</th>
                                        <th>Email</th>
                                        <th>Điện thoại</th>
                                        <th>Trang thái</th>
                                        <th></th>
                                        <!--                                        <th class="text-right">Actions</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="booking : ${bookingList}">
                                        <td><span th:text="${booking.getRoom().getPropertyType().getName()}"></span>
                                        </td>
                                        <th><span th:text="${booking.getRoom().getHotel().getNameOfHotel()}"></span>
                                        </th>
                                        <td><span th:text="${booking.getNumberOfGuests()}"></span></td>
                                        <td><span th:text="${booking.getStartDate()}"></span></td>
                                        <td><span th:text="${booking.getEndDate()}"></span></td>
                                        <td><span th:text="${booking.getNumNight()}"></span></td>
                                        <td><span th:text="${booking.getUser().getEmail()}"></span></td>
                                        <td><span th:text="${booking.getUser().getPhoneNumber()}"></span></td>
                                        <!--                                        <td><span th:text="${booking.getStatus()}"></span></td>-->
                                        <td>
                                            <div class="btn btn-sm bg-success-light mr-2"
                                                 th:text="${booking.getStatus()} ? 'Đặt thành công' : 'Đặt thành công'"></div>
                                        </td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action"><a href="#"
                                                                                     class="action-icon dropdown-toggle"
                                                                                     data-toggle="dropdown"
                                                                                     aria-expanded="false"><i
                                                    class="fas fa-ellipsis-v ellipse_color"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item"
                                                       th:href="@{/report/(id=${booking.getRoom().getId()})}">Báo cáo</a>
                                                    <a class="dropdown-item delBtn"
                                                       th:href="@{deleteBookingOfCustomer/(id=${booking.getId()})}"><i
                                                            class="fas fa-trash-alt m-r-5"></i>Xóa</a>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModal"
     role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Delete Record</h5>
                <button aria-label="Close" class="close" data-dismiss="modal"
                        type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="alert alert-danger">
                    Are you sure you want to delete this booking?
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal"
                        type="button">Close
                </button>
                <a class="btn btn-danger" href="" id="delRef">Delete</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.delBtn').on('click', function (event) {
            event.preventDefault();
            var href = $(this).attr('href');
            $('#myModal #delRef').attr('href', href);
            $('#myModal').modal();
        });
    });
</script>


<script src="assets/js/jquery-3.5.1.min.js"></script>

<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/moment.min.js"></script>
<script src="assets/js/select2.min.js"></script>

<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/js/bootstrap-datetimepicker.min.js"></script>

<script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="assets/plugins/datatables/datatables.min.js"></script>

<script src="assets/js/script.js"></script>
<script>
    $(function () {
        $('#datetimepicker3').datetimepicker({
            format: 'LT'

        });
    });

</script>

</script>
</body>
</html>